<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>部门</td>
				<td>${model.dept_name}</td>
			</tr>
			<tr>
				<td>项目编号</td>
				<td>${model.main_pro_id}</td>
			</tr>
			<tr>
				<td>项目名称</td>
				<td>${model.main_pro_name}</td>
			</tr>
			<tr>
				<td>任务</td>
				<td>${model.task_name}</td>
			</tr>
			<tr>
				<td>负责人</td>
				<td>${model.task_charger}</td> 
			</tr>
			<tr>
				<td>截止日期</td>
				<td>${model.deadline}</td> 
			</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>